page-output {
  .temp {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 5px;
    line-height: 15px;
    min-width: 170px;
    min-height: 80px;
  }
  .temp:active{
    background: goldenrod;
    color: white;
  }

  .cat{
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .status-bar-pending{
    background: goldenrod;
    color: white;
  }

  .status-bar-ok{
    background: green;
    color: white;
  }

  .vert-bar{
    border-left-style: solid;
    border-left-width: 0.5px;
    border-left-color: white;
    padding: 15px;
  }
}
