<ion-header>
  <ion-navbar style="min-height: 30px" color=header>
    <ion-title>White Night Party</ion-title>

    <ion-buttons end>
      <button ion-button text-capitalize style="font-family: 'MontSerrat'" (click)="isMenuDevice=!isMenuDevice">
        {{deviceProv?.bluetoothInfo}}
      </button>
      <button ion-button icon-only (click)="isMenuDevice=!isMenuDevice">
        <img src="assets/imgs/arrow.png" alt="" width="20">
      </button>

      <button ion-button text-capitalize (click)="isMenuDevice=!isMenuDevice"
        style="font-family: 'MontSerrat'">{{bluetoothProv.connectedDevice.name || '???' }}
      </button>

      <button ion-button text-capitalize style="font-family: 'MontSerrat'" (click)="logOff($event)" class="vert-bar">
        <ion-icon name="person"></ion-icon>
        &nbsp; {{userProv.currentWorker}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <p text-center no-padding no-margin
    [class]="statusMsg.includes('OK') ? 'status-bar-ok' : 'animated shake infinite slower status-bar-pending'">
    {{statusMsg}}
  </p>

  <div padding *ngIf="isMenuDevice" style="padding-top: 20px">
    <div *ngIf="bluetoothProv.connectedDevice.isConnected" text-center>
      <h2>Connected to {{bluetoothProv.connectedDevice.name}}</h2>
    </div>

    <div text-center padding-top>
      <button ion-button mode="ios" color=light (click)="isMenuDevice = !isMenuDevice">Fermer</button>

      <button mode="ios" ion-button (click)="connection()">
        {{bluetoothProv.connectedDevice.isConnected? 'Disconnect' : 'Scanner'}}
      </button>
    </div>

    <div padding *ngIf="!bluetoothProv.connectedDevice?.isConnected">
      <div *ngFor="let device of bluetoothProv.pairedDevices">
        <ion-item detail-push (click)="connectPairedDevice(device.address)">
          <p><b>{{device.name}} </b> </p>
          <p>{{device.address}} </p>
        </ion-item>
      </div>
    </div>

  </div>

  <ion-row style="padding-top: 5px" *ngIf="!isMenuDevice" justify-content-center align-items-center>
    <div *ngFor="let price of pricingProv?.pricingList; let index=index">
      <div text-center class="temp" (click)="book(price.price, price.name)">
        <p style="margin: 6px"><b>{{price.name}}</b></p>
        <p [innerHTML]="price.description" style="line-height: 18px"></p>
      </div>
    </div>
  </ion-row>
</ion-content>

<ion-footer no-border style="height: 22px; background: gainsboro">
  <p padding-right float-right style="font-size: 9px">
    <i>Powered by Vihautech.net</i></p>
</ion-footer>
