<ion-header>
  <ion-navbar>
    <ion-title>superadmin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div text-right>
      <button ion-button mode="ios" small [outline]="!(deviceProv.terminalType == 0)"
        (click)="toogleDeviceType('terminal')">Terminal</button>
      <button ion-button mode="ios" small [outline]="!(deviceProv.terminalType == 1)"
        (click)="toogleDeviceType('display')">Monitor</button>
      <hr>
    </div>

    <ion-item-divider style="font-size: 18px; color: brown" (click)="isMenuConnectDevices=!isMenuConnectDevices">
      Coupler des appareils
    </ion-item-divider>

    <div padding-left *ngIf="isMenuConnectDevices">
      <div text-right padding-top>
        <button ion-button (click)="getPairedDevices()">Scanner</button>
      </div>

      <div *ngIf="!bluetoothProv.connectedDevice?.isConnected">
        <div *ngFor="let device of bluetoothProv.pairedDevices">
          <ion-item detail-push (click)="connectPairedDevice(device.address)">
            <p><b>{{device.name}} </b> </p>
            <p>{{device.address}} </p>
          </ion-item>
        </div>
      </div>

      <div *ngIf="bluetoothProv.connectedDevice.isConnected">
        <p>Connected to {{bluetoothProv.connectedDevice.name}}</p>
      </div>


    </div>

    <ion-item-divider style="font-size: 18px; color: brown">
      Géger les clients
    </ion-item-divider>

    <button ion-button (click)="close()" >Terminer</button>
  </ion-list>
</ion-content>

<ion-footer padding>
    <ion-item>
      <ion-input [(ngModel)]="input" ></ion-input>
  <button ion-button item-right (click)="send()">send</button>
    </ion-item>
  </ion-footer>

