<ion-header>
  <ion-navbar>
    <ion-title>superadmin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-divider style="font-size: 18px; color: brown" (click)="isMenuConnectDevices=!isMenuConnectDevices">
      Coupler des appareils
    </ion-item-divider>

    <div padding-left *ngIf="isMenuConnectDevices">
      <div text-right padding-top>
        <button ion-button (click)="getPairedDevices()">Scanner</button>
      </div>

      <ion-item detail-push *ngFor="let device of connectedDevices">
        <p><b>{{device.name}} </b> </p>
        <p>{{device.address}} </p>
      </ion-item>
    </div>

    <ion-item-divider style="font-size: 18px; color: brown">
      Géger les clients
    </ion-item-divider>

  </ion-list>
</ion-content>
