$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";


$colors: (primary: #488aff,
secondary: #32db64,
third: #da08da,
danger: #f53d3d,
light: #f4f4f4,
dark: #222,
header: brown,
gold: orange
);


// App iOS Variables


// App Material Design Variables
$button-md-text-transform: initial;
$item-md-detail-push-show: true;
$spinner-md-bubbles-color: white;


// App Windows Variables



// App Theme

@import "ionic.theme.default";


// Ionicons
@import "ionic.ionicons";


// Fonts
// Fonts
// --------------------------------------------------
@font-face {
  font-family: MontSerrat;
  src: url('../assets/fonts/MontSerrat.woff2') format('woff2');
}

@font-face {
  font-family: BalooBhai;
  src: url('../assets/fonts/BalooBhai.woff2') format('woff2');
}
