page-intro {
  .border {
    border-style: solid;
    margin: 25px;
    margin-bottom: 25px;
    background: white;
    border-color: gray;
    border-width: 1px;
  }

  ion-slide {
    border-style: solid;
    border-color: gainsboro;
    color: #488aff;
  }

  .img1{
   background-image: url("../assets/imgs/flyer1.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
  }

}
