<ion-header>
  <ion-navbar>
    <ion-title>Welcome</ion-title>

    <ion-buttons end padding-right *ngIf="!userProv?.currentUser">
      <button ion-button icon-only (click)="login()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>

<ion-content padding>
  <button ion-button (click)="test()" >program</button>
  <ion-row padding *ngIf="showLogin" class="animated jackInTheBox fadeOutUp">
    <ion-col *ngIf="deviceProv.screenWidth > 400"></ion-col>

    <ion-col>
      <!-- <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input [(ngModel)]="credentials.name" type=text></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input [(ngModel)]="credentials.email" type=email></ion-input>
      </ion-item>

      <ion-item padding-bottom>
        <ion-label stacked>Mot de passe</ion-label>
        <ion-input [(ngModel)]="credentials.password" type="password"></ion-input>
      </ion-item>

      <div text-right padding style="background: white">
        <button ion-button small color=light (click)="cancel()">Annuler</button>
        <button ion-button small (click)="signin()">Connexion</button>
      </div>
    </ion-col>

  </ion-row>

  <ion-row style="min-height: 90%;" justify-content-center>
    <ion-col class="border">
      <ion-slides pager loop autoplay="2500">
        <ion-slide>
          <h1>Frankfurt</h1>
          <h2>25.06.2019</h2>
        </ion-slide>

        <ion-slide>
          <h1>Toto Events presents</h1>
          <h2>Koffi Olomide</h2>
        </ion-slide>

        <ion-slide>
          <img src="assets/imgs/ko1.jpg" alt="" style="width: 100%" />
        </ion-slide>

        <ion-slide>
          <img src="assets/imgs/ko2.jpg" alt="" style="width: 100%" />
        </ion-slide>

        <ion-slide>
          <img src="assets/imgs/ko3.jpg" alt="" style="width: 100%" />
        </ion-slide>

        <ion-slide>
          <img src="assets/imgs/ko4.jpg" alt="" style="width: 100%" />
        </ion-slide>
      </ion-slides>
    </ion-col>

    <ion-col class="border">
      <div>
        <h1 text-center>Programme</h1>
        <p>
          <span>21:00</span>
          <span>Arrivée des invités</span>
        </p>

        <p>
          <span>22:30</span>
          <span>Arrivée des invités STAR</span>
        </p>

        <p>
          <span>.</span>
          <span>.</span>
        </p>

        <p>
          <span>.</span>
          <span>.</span>
        </p>
      </div>

    </ion-col>
  </ion-row>

</ion-content>
