<ion-header>
  <ion-navbar color="header" style="min-height: 30px">
    <ion-title>Welcome</ion-title>

    <ion-buttons end padding-right>
      <button ion-button icon-only (click)="login()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row padding *ngIf="showLogin" class="animated jackInTheBox fadeOutUp" justify-content-center>
    <ion-col col-sm-8>
      <div padding *ngIf="userProv?.currentUser" style="background: white">
        <h1 text-center>Connecté</h1><br>

        <p><b>Name:</b> {{userProv.currentUser.name}} </p>
        <p><b>Email:</b> {{userProv.currentUser.email}} </p><br>

        <div padding-top text-center>
          <button ion-button full (click)="openAdminPage()">Manager mes events</button><br><br>
          <button ion-button color=light (click)="cancel()">Fermer</button>
          <button ion-button color=danger (click)="signOut()">Déconnexion</button>

        </div><br>
      </div>

      <div *ngIf="!userProv?.currentUser">
        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input [(ngModel)]="credentials.email" type=email></ion-input>
        </ion-item>

        <ion-item padding-bottom>
          <ion-label stacked>Mot de passe</ion-label>
          <ion-input [(ngModel)]="credentials.password" type="password"></ion-input>
        </ion-item>

        <div text-right padding style="background: white">
          <button ion-button small color=light (click)="cancel()">Fermer</button>

          <button ion-button small (click)="signin()">Connexion</button>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!showLogin && deviceProv.terminalType!=2" style="min-height: 90%;" justify-content-center>
    <ion-col col-sm-6>
      <ion-slides pager loop autoplay="3500" slidesPerView="1">
        <ion-slide>
          <h1 style="padding: 5px 15px">Bienvenue chers invités</h1>
          <div style="color:#488aff">
            <p padding-right padding-left>Nous vous souhaitons une très belle soirée. </p>
          </div>
        </ion-slide>

        <ion-slide>
          <h1>Page pub 1</h1>
          <h2>Event xx in xx when xx </h2>
        </ion-slide>

        <ion-slide>
          <h1>Page pub 2</h1>
          <h2>Event xx in xx when xx </h2>
        </ion-slide>

        <ion-slide>
          <h1>Page pub 3</h1>
          <h2>Event xx in xx when xx </h2>
        </ion-slide>
      </ion-slides>
    </ion-col>

    <ion-col padding-left>
      <div>
        <h1 text-center [style.paddingTop]="deviceProv.screenWidth < 400 ? '35px' : '0px'">Abend Ablauf</h1>
        <p>
          <span>21:00</span>
          <span>Arrivée des invités</span>
        </p>

        <p>
          <span>22:30</span>
          <span>Arrivée des invités STAR</span>
        </p>

        <p>
          <span>.</span>
          <span>.</span>
        </p>

        <p>
          <span>.</span>
          <span>.</span>
        </p>
      </div>

    </ion-col>

  </ion-row>

  <div *ngIf="!showLogin && deviceProv.terminalType==2">
    <ion-slides pager loop autoplay="3500" slidesPerView="1" style="height: 220px">

      <ion-slide>
        <img src="assets/imgs/flyer1.jpg" alt="" style="max-height: 100%; width: 100%" />
      </ion-slide>

      <ion-slide>
        <img src="assets/imgs/flyer2.jpg" alt="" style="max-height: 100%; width: 100%" />
      </ion-slide>

      <ion-slide>
        <h1 style="padding: 5px 15px">Bienvenue chers invités</h1>
        <div style="color:#488aff">
          <p padding-right padding-left>Nous vous souhaitons une très belle soirée. </p>
        </div>
      </ion-slide>

      <ion-slide>
        <h1>Page pub 2</h1>
        <h2>Event xx in xx when xx </h2>
      </ion-slide>

      <ion-slide>
        <h1>Page pub 3</h1>
        <h2>Event xx in xx when xx </h2>
      </ion-slide>
    </ion-slides>

    <ion-list padding>
      <ion-item-divider style="font-size: 18px; color:brown">My events</ion-item-divider>
      <ion-item padding-left *ngFor="let event of userProv.userEventList" detail-push (click)="openAdminPage(event.id)">
        <h2>{{event.title}} </h2>
        <p>{{event.date}} </p>
        <p>{{event.location}} </p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer no-border style="height: 22px; background: gainsboro" (click)="superAdmin()">
  <p padding-right float-right style="font-size: 9px; font-style: italic">Powered by Vihautech.net</p>
</ion-footer>
