<ion-header>
  <ion-navbar color="header" style="min-height: 30px">
    <ion-title>Diaspo Night</ion-title>

    <ion-buttons end>
      <button ion-button text-capitalize style="font-family: 'MontSerrat'" (click)="isMenuDevice=!isMenuDevice">
        {{deviceProv?.bluetoothInfo}}
      </button>
      <button ion-button icon-only>
        <img src="assets/imgs/arrow.png" alt="" width="20">
      </button>

      <button ion-button text-capitalize (click)="isMenuDevice=!isMenuDevice"
        style="font-family: 'MontSerrat'">{{bluetoothProv.connectedDevice.name || '???' }}
      </button>

      <button ion-button text-capitalize style="font-family: 'MontSerrat'" (click)="logOff($event)" class="vert-bar">
        <ion-icon name="person"></ion-icon>
        &nbsp; {{userProv.currentWorker}}
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <div padding *ngIf="isMenuDevice" style="padding-top: 20px">
    <div *ngIf="bluetoothProv.connectedDevice.isConnected" text-center>
      <h2>Connected to {{bluetoothProv.connectedDevice.name}}</h2>
    </div>

    <div text-center padding-top>
      <button ion-button mode="ios" color=light (click)="isMenuDevice = !isMenuDevice">Fermer</button>

      <button mode="ios" ion-button (click)="connection()">
        {{bluetoothProv.connectedDevice.isConnected? 'Disconnect' : 'Scanner'}}
      </button>
    </div>

    <div padding *ngIf="!bluetoothProv.connectedDevice?.isConnected">
      <div *ngFor="let device of bluetoothProv.pairedDevices">
        <ion-item detail-push (click)="connectPairedDevice(device.address)">
          <p><b>{{device.name}} </b> </p>
          <p>{{device.address}} </p>
        </ion-item>
      </div>
    </div>

  </div>

  <div *ngIf="!isMenuDevice">

    <div padding *ngIf="deviceProv.terminalType==0">
      <ion-row justify-content-center>
        <ion-col text-center col-5>
          <button ion-button margin-left color=danger (click)="removeMoney()">Sortie</button>
          <button ion-button margin-right color=secondary (click)="putMoney()">Entrée</button>

          <!-- [style.background]="nfcProv.isCardPresent ? color : 'goldenrod'" -->
          <div class="balance" style="margin-top: 25px;" [style.background]="color">
            <div *ngIf="state==0" style="padding-top: 30px">
              <ion-spinner name="bubbles"></ion-spinner>
            </div>

            <div *ngIf="state!=0">
              <p style="letter-spacing: 5px; font-size: 45px">{{nfcProv.currentCard.balance || '----'}}
                <!-- <span style="font-size: 18px; letter-spacing: 1px; font-family: montserrat">Saldo insuffisant</span> -->
              </p>
              <p>euro</p>
            </div>

          </div>
        </ion-col>

        <ion-col col-7 no-padding-top>
          <div text-right class="input-amount">
            <h2><span style="letter-spacing: 10px; font-weight: bold">{{input}} </span> euro</h2>
          </div>

          <ion-row justify-content-center>
            <div *ngFor="let num of [7,8,9,4,5,6,1,2,3,0]">
              <button ion-button round class="numpad" (click)="input=input+num">{{num}}</button>
            </div>

            <button ion-button round class="numpad" color=light (click)="numPad(',')">,</button>
            <button ion-button round class="numpad" color=danger (click)="backscape()">c</button>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="deviceProv.terminalType==1">
      <ion-row>
        <ion-col col-7 padding>
          <ion-slides margin pager loop autoplay="3500" slidesPerView="1">
            <ion-slide>
              <h1 style="padding: 5px 15px">Bienvenue chers invités</h1>
              <div style="color:#488aff">
                <p padding-right padding-left>Nous vous souhaitons une très belle soirée. </p>
              </div>
            </ion-slide>

            <ion-slide>
              <h1>Page pub 1</h1>
              <h2>Event xx in xx when xx </h2>
            </ion-slide>

            <ion-slide>
              <h1>Page pub 2</h1>
              <h2>Event xx in xx when xx </h2>
            </ion-slide>

            <ion-slide>
              <h1>Page pub 3</h1>
              <h2>Event xx in xx when xx </h2>
            </ion-slide>
          </ion-slides>
        </ion-col>

        <ion-col align-self-center>
          <p text-center>Votre solde</p>
          <div text-center class="balance" style.background="green">
            <p style="letter-spacing: 10px; font-size: 45px">{{bluetoothProv.display.msg || '----'}} </p>
            <p>euro</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>

<ion-footer no-border style="height: 22px; background: gainsboro;" (click)="superAdmin()">
  <p padding-right float-right style="font-size: 9px; font-style: italic">Powered by Vihautech.net</p>
</ion-footer>
