page-input {
  .content {
    // background-image: url("../../assets/imgs/bg_app.png");
    color: brown;
  }

  .balance {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 15px;
    background: goldenrod;
    color: white;
    height: 35vh;
    font-family: 'BalooBhai';
    font-size: 25px;
    line-height: 5px;
  }

  .numpad {
    margin: 10px;
    font-size: 14px;
  }

  .amount{
    letter-spacing: 10px;
  }

  ion-slides{
    height: 60vh;
    border-style: solid;
    border-color: gainsboro;
    color: #488aff;
  }

  ion-spinner * {
    width: 32px;
    height: 32px;
  }

  .vert-bar{
    border-left-style: solid;
    border-left-width: 0.5px;
    border-left-color: white;
    padding: 15px;
  }
}
