<ion-header>
  <ion-navbar color=header>
    <ion-title>Admin</ion-title>

    <ion-buttons end>
      <button ion-button (click)="close()" text-capitalize class="close-btn">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-lines style="background: rgba(128, 128, 128, 0.164); color: black">
    <ion-label style="color: black">Event</ion-label>
    <ion-select (ionChange)="eventSelected($event)" [placeholder]="eventPlaceholder ">
      <ion-option *ngFor="let event of userProv.userEventList" [value]="event.id">
        {{event.title}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-list padding-top *ngIf="selectedUserEventId">

    <ion-list padding-top>
      <ion-item-divider style="font-size: 14px;" color=dark (click)="isStats = !isStats">Event summary
        <ion-icon item-right name="sync"></ion-icon>
      </ion-item-divider>

      <div style="border-style: solid; border-color: #222; border-width: 1px">
        <div *ngIf="isStats" style="border-style: solid; border-color: #222; border-width: 1px">
          <h1 padding-left padding-top><u>Summary</u> </h1>

          <ion-item style="color: tomato">
            <h2>Cash available :</h2>
            <p item-right style="color: tomato; font-size: 14px">
              {{userProv.totalCash}} euro</p>
          </ion-item>

          <ion-item style="color: tomato">
            <h2>Total cash in :</h2>
            <p item-right style="color: tomato; font-size: 14px">
              -- euro</p>
          </ion-item>

          <ion-item style="color: tomato">
            <h2>Total cash out :</h2>
            <p item-right style="color: tomato; font-size: 14px">
              -- euro</p>
          </ion-item>

          <ion-item style="color: tomato">
            <h2>Total drinks sell :</h2>
            <p item-right style="color: tomato; font-size: 14px">
              {{userProv.totalDrinks}} euro</p>
          </ion-item>

          <ion-item style="color: tomato">
            <h2>Total drinks begin :</h2>
            <p item-right style="color: tomato; font-size: 14px">
              -- euro</p>
          </ion-item>

          <h1 padding-left><u>Details</u></h1>

          <ion-item *ngFor="let worker of userProv.currentUser.events[selectedUserEventId]?.crew; let index=index">
            <h2>{{worker.name}} </h2>
            <p *ngIf="worker.role == 2">Cash in : <span item-right>{{worker.money || 0}} euro</span></p>

            <div *ngIf="worker.role == 3">
              <div *ngFor="let drink of userProv.getWorkerDrinkStatics(selectedUserEventId)[index]">
                <ion-item>
                  <p>{{drink.type}} <span padding-left>Total out:</span></p>
                  <p item-right> {{drink.total}}</p>
                </ion-item>
              </div>
            </div>
          </ion-item>
        </div>
      </div>
    </ion-list>

    <ion-item-divider style="font-size: 14px;" color=third (click)="isBeforeEvent = !isBeforeEvent">Data before
      event start
      <ion-icon item-right name="archive"></ion-icon>
    </ion-item-divider>

    <div style="border-style: solid; border-color: #da08da; border-width: 1px">
      <div *ngIf="isBeforeEvent" style="border-style: solid; border-color: #da08da; border-width: 1px">
        <ion-item-divider style="color: black; font-weight: bold">Drinks stock</ion-item-divider>
        <div padding-left *ngFor="let type of userProv.currentUser.events[selectedUserEventId].pricing">
          <ion-item *ngIf="type.description" no-lines>
            <ion-label >{{type.name}}</ion-label>
            <ion-input type=number text-right padding-right
              [(ngModel)]="userProv.currentUser.events[selectedUserEventId]?.drinksBegin[type.name]"></ion-input>
            <button ion-button clear item-right>bottles</button>
          </ion-item>
        </div>

        <ion-item-divider style="color: black; font-weight: bold">Change in cash box</ion-item-divider>
        <div padding-left *ngFor="let worker of userProv.currentUser.events[selectedUserEventId].crew; let index=index">
          <div *ngIf="worker.role == 2">
            <ion-item no-lines>
              <ion-label >{{worker.name}}</ion-label>
              <ion-input type="number" text-right padding-right
                [(ngModel)]="userProv.currentUser.events[selectedUserEventId].crew[index].moneyBegin"></ion-input>
              <button ion-button clear item-right>euro</button>
            </ion-item>
          </div>
        </div>

        <div padding>
          <button ion-button block color=third (click)="uploadBeginData()">Submit</button>
        </div>

      </div>
    </div>

    <ion-item-divider margin-top style="font-size: 14px;" color=secondary (click)="isCompile = !isCompile">Compile event
      Data
      <ion-icon item-right name="logo-buffer"></ion-icon>
    </ion-item-divider>

    <div style="border-style: solid; border-color: #32db64; border-width: 1px">
      <div *ngIf="isCompile" style="border-style: solid; border-color: #32db64; border-width: 1px">
        <div *ngFor="let worker of userProv.currentUser.events[selectedUserEventId].crew">
          <p padding-left><b>{{worker.name}}</b></p>

          <div *ngIf="worker.role == 2">
            <ion-item>
              <ion-label>Total cash in</ion-label>
              <ion-input type=number text-right padding-right></ion-input>
              <button ion-button clear item-right>euro</button>
            </ion-item>

            <ion-item>
              <ion-label>Total cash out</ion-label>
              <ion-input type=number text-right padding-right></ion-input>
              <button ion-button clear item-right>euro</button>
            </ion-item>

            <ion-item>
              <ion-label style="color: #999;">Cash at begin</ion-label>
              <ion-label text-right padding-right style="color: #999; max-width: 100px;">{{worker.moneyBegin}}
              </ion-label>
              <button ion-button clear item-right>euro</button>
            </ion-item>
          </div>

          <div *ngIf="worker.role == 3">
            <ion-item>
              <ion-label>Total drinks sell</ion-label>
              <ion-input type=number text-right padding-right></ion-input>
              <button ion-button clear item-right>euro</button>
            </ion-item>

            <div padding-left *ngFor="let type of userProv.currentUser.events[selectedUserEventId].pricing">
              <ion-item *ngIf="type.price" no-lines>
                <ion-label>{{type.name}}</ion-label>
                <ion-input type=number text-right padding-right></ion-input>
                <button ion-button clear item-right>bottles</button>
              </ion-item>
            </div>
          </div>
        </div>

        <div padding>
          <button ion-button block color=secondary (click)="isCompile != isCompile">Submit</button>
        </div>
      </div>
    </div>

    <ion-item-divider margin-top style="font-size: 14px;" color=primary (click)="isCrew=!isCrew">Crew members
      <ion-icon item-right name="add-circle"></ion-icon>
    </ion-item-divider>

    <div style="border-style: solid; border-color: #488aff; border-width: 1px">
      <div *ngIf="isNewCrew" style="border-style: solid; border-color: gainsboro; border-width: 1px">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)]="newCrew.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Role</ion-label>
          <ion-select [(ngModel)]="newCrew.role" style="max-width: 65%">
            <ion-option [value]="2">Caissier boisson</ion-option>
            <ion-option [value]="1">Caissier entrée</ion-option>
            <ion-option [value]="3">Barman</ion-option>
            <ion-option [value]="0">Admin</ion-option>
            <ion-option [value]="6">Client</ion-option>
          </ion-select>
        </ion-item>

        <div text-center style="padding: 25px">
          <button ion-button color=light (click)=" isNewCrew=false">Annuler</button>
          <button ion-button margin-left (click)="newCrewMember()">Valider</button>
        </div>
      </div>

      <div *ngIf="isCrew" style="border-style: solid; border-color: #488aff; border-width: 1px">
        <ion-item *ngFor="let crewMember of userProv.currentUser?.events[selectedUserEventId]?.crew; let index=index">
          <p><b>{{crewMember.name}} </b></p>
          <p>{{userProv.getRoleString(crewMember.role)}} </p>
          <ion-icon item-right padding-right name="create" style="font-size: 22px" (click)="ongoing()"></ion-icon>
          <ion-icon item-right padding-right name="card" color=primary style="font-size: 24px"
            (click)="writeCard(crewMember)"></ion-icon>
          <ion-icon item-right padding-right name="trash" color=danger style="font-size: 24px"
            (click)="deleteCrewMember(index)"></ion-icon>
        </ion-item>
      </div>
    </div>

    <ion-item-divider margin-top style="font-size: 14px;" color=gold (click)="ispricing=!ispricing">Set pricing
      <ion-icon item-right name="pricetags"></ion-icon>
    </ion-item-divider>

    <div style="border-style: solid; border-color: orange; border-width: 1px">
      <div *ngIf="ispricing" style="border-style: solid; border-color: orange; border-width: 1px">
        <div padding-left
          *ngFor="let price of userProv.currentUser.events[selectedUserEventId].pricing; let index=index">
          <p no-margin margin-top>{{price.name.split('-')[0]}} </p>

          <ion-item no-lines>
            <ion-label>Price </ion-label>
            <ion-input type=number [(ngModel)]="userProv.currentUser.events[selectedUserEventId].pricing[index].price">
            </ion-input>
            <button ion-button clear item-right>euro</button>
          </ion-item>

          <p padding-left>{{price.description}} </p>
          <hr>
        </div>

        <div padding>
          <button ion-button block color=gold (click)="uploadPricing()">Submit</button>
        </div>

      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer no-border style="height: 22px; background: gainsboro" (click)="superAdmin()">
  <p padding-right float-right style="font-size: 9px">
    <i>Powered by Vihautech.net</i></p>
</ion-footer>
